body {
    font-family: "Jura", sans-serif;
    background-color: #000000;
font-size: 20px;

}


 

 

.logo
.logo-image
{
    display: block;
    width: 61px;
    height: 53px;
    background-image: url(../images/лого.png);
   
 
    background-repeat: no-repeat;
}
.nav {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center ;
  
  flex-wrap: nowrap;
  height: 70px;
}
.nav >li {
    margin-left: 40px;
    margin-right: 40px;
}
.nav >li {
    
    text-decoration-color: #ffffff;
}
.birch{

    background-image: url(../images/07fdccccef1228dca81b5c621ecdb5ca.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
    padding-top: 100px;
padding-bottom: 100px;

}

.title {
    text-align: center;
    font-size: 168px;
    font-weight: 700;
    text-shadow:
    2px 0 rgb(255, 255, 255),
    0 -2px rgb(255, 255, 255),
    -2px 0 rgb(255, 255, 255),
    0 2px rgb(255, 255, 255);
}


.wrapper {
}
  .background_attachment {
    width: 100%;
    height: 650px;
    background-image: url("../images/бирч.png");
    background-size: containt;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    padding: 20px;
  }


  
 

  .background_clip {
    
    font-size: 30px;
    margin: auto;
  height: 774px;
  width: 774px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: left;
  background-clip: text;
  -webkit-background-clip: text;

 }


.bg-black {
    background-color: black;
    height: 376px;
    width: 330px;
}
 .bg-white {
    background-color: rgb(255, 255, 255);

  height: 393px;
    width: 579px;
 }
  
 .container {
    display: grid;
  
    grid-template-columns: 1fr 1fr 1fr 1fr 20px;
   row-gap: 30px;
   grid-column-gap: 30px;
   display: flex;
   justify-content: center;
  }
  
  .children {
    width: 330px;
    height: 376px;
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
 
  }

  
 
.grid-title{
    color: #ffffff;
    text-align: center;
}

.artss {
    display: table-cell;
    height: 310px;
    text-align: center;
    width: 320px;
    vertical-align: middle;
}

 .title-h2 {
    
    color: #ffffff;
    text-align:justify;
    font-size: 40px;
    font-weight: 20px;
    margin: 20px;
 }
  




    .background_clipp {
      font-size: 32px;
      margin: auto;
    height: 392px;
    width: 774px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
    background-clip: text;
    -webkit-background-clip: text;
    color: #ffffff;
  

  } 
  .background_class {
    width: 680px;
    height: 526px;
    margin: 78px;
    background-color: #262626;
    background-image: url("../images/глаза.jpg");
    background-size: contain; 
    background-repeat: no-repeat;
background-position: center;
display: inline-block;
border-radius: 63px;
 }
  
  .wrapper {
}
  .background_attachmentt {
    width: 100%;
    height: 1650px;
    background-image: url("../images/бирч2.png");
    background-size: containt;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    padding: 20px;
    
  }

  .godsaveme {
    font-size: 30px;
    margin: auto;
  height: 774px;
  width: 774px;
  background-size: contain;
  background-repeat: no-repeat;

  background-clip: text;
  -webkit-background-clip: text;

  }